* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: #2b2b2b;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header content";
}

/* Header & Nav Design */

header {
  grid-area: header;
  position: fixed;
  background-color: #181818;
  width: 150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-icon {
  display: none;
}

.brand {
  user-select: none;
  cursor: default;
  width: 100%;
  height: 25%;
  background-color: black;
  padding: 0px 10px;
  text-align: center;
  align-content: center;
}

.logo {
  color: #fd2155;
  font-size: 50px;
  text-shadow: -5px 0px cyan;
}

.name {
  color: white;
}

.title {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.nav-bar {
  width: 100%;
  background-color: #181818;
}

.nav-opt {
  display: flex;
  flex-direction: column;
}

.nav-opt li {
  list-style: none;
  padding: 12px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.424);
  text-align: center;
  transition: 0.4s ease;
}

.nav-opt li:hover {
  background-color: #0a0a0a;
}

.nav-opt li a {
  color: rgba(255, 255, 255, 0.558);
  text-decoration: none;
  font-size: 14px;
  transition: 0.4s ease;
  display: block;
}

.nav-opt li:hover a {
  color: white;
}

.social-icons {
  margin-top: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
}

.social-icons a:hover {
  transform: rotate(360deg);
}

.nav-bar-close {
  display: none;
}

/* Header And Nav Design For Mobile */

@media screen and (max-width: 768px) {
  body,
  html {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      "header"
      "content";
    overflow-x: hidden;
  }

  header {
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }

  .brand {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .name {
    margin: 0;
  }

  .title {
    margin: 0;
  }

  .nav-icon {
    display: block;
    color: #fd2155;
    text-shadow: -2px 0px 0px #21fde7;
    font-size: 24px;
    top: 0;
    right: 0;
    position: fixed;
    margin: 10px 30px;
    transition: 0.3s ease-in;
  }

  .nav-bar {
    top: 0;
    right: -400px;
    height: 100%;
    width: calc(100% - 50%);
    position: fixed;
    transition: 0.3s ease-in;
    background-color: #fd2155;
  }

  .nav-bar-close {
    display: block;
    color: white;
    margin-top: 5px;
    margin-left: 8px;
    transition: 0.3s ease-in;
  }

  .nav-bar.active {
    right: 0;
  }

  .nav-bar li {
    padding: 0;
    border: none;
  }

  .nav-opt li a {
    color: #21fde7;
    opacity: 100%;
    font-weight: bolder;
  }

  .social-icons {
    flex-direction: row;
    height: 20%;
    justify-content: center;
    align-items: center;
  }
}

/* Home-Section Edit */

.content {
  grid-area: content;
  height: 100%;
  min-width: calc(100vw - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.hero-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero-intro {
  padding-left: 30px;
  font-size: 55px;
}

.hero-h {
  color: #fd2155;
  text-shadow: -5px 0px cyan;
}

.hero-title {
  padding-left: 30px;
  color: rgba(255, 255, 255, 0.487);
  font-size: 14px;
  margin-bottom: 50px;
}

.hero-contact {
  margin-left: 30px;
  padding: 6px 30px;
  border: none;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid cyan;
  color: cyan;
  transition: 0.3s ease-in;
}

.hero-contact:hover {
  background-color: cyan;
  color: #000000;
}

.scroll-down {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-down-left,
.scroll-down-right {
  display: inline-block;
  transform: rotate(90deg);
  color: white;
}

/* Home Design For Mobiles */

@media screen and (max-width: 768px) {
  #home-section {
    height: 100vh;
  }
}



/* Hero Contact Button Pop-Up Design */

.hero-contact-popup {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(10px);
}

.hero-contact-window {
  height: 300px;
  width: 350px;
  background-color: #181818;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid cyan;
  border-radius: 15px;
}

.contact-options {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.email-btn,
.whatsapp-btn,
.phone-btn {
  text-decoration: none;
}

.email-btn:hover i,
.whatsapp-btn:hover i,
.phone-btn:hover i {
  text-shadow: -5px 0px #fd2155;
}

.option-title {
  font-size: 10px;
  color: white;
}

.email-btn i,
.whatsapp-btn i,
.phone-btn i {
  font-size: 35px;
  transition: 0.3s ease;
}

.email-btn i {
  color: orange;
}

.whatsapp-btn i {
  color: rgb(47, 255, 92);
}

.phone-btn i {
  color: aqua;
}

.close-btn-div {
  width: 100%;
  display: flex;
  justify-content: end;
}

.close {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: aquamarine;
  transition: 0.3s ease;
}

.close:hover {
  background-color: rgb(240, 84, 84);
  color: white;
  box-shadow: 2px -2px 5px #21fde7;
}

.close i {
  transition: 0.3s ease;
}

.close:hover i {
  transform: rotate(360deg);
}

.contact-popup-text {
  text-align: center;
  color: white;
  margin-top: 30px;
}

/* Work-Section Design */

#work-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  gap: 50px;
  border-bottom: 1px solid black;
}

.work-subheading {
  color: #fd2155;
  font-size: 1.2rem;
}

.work-heading {
  color: #21fde7;
  text-shadow: -5px 0px 0px #fd2155;
  font-size: 4em;
}

.work-intro a {
  color: #21fde7;
}

.work-box {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.workCard {
  height: 50%;
  width: 40%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.workCard img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  transition: 0.3s ease-out;
}

.work-description {
  display: none;
  transition: 0.3s ease;
}

.workCard:hover img {
  display: none;
}

.workCard:hover .work-description {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.249);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 30px;
  gap: 20px;
  padding: 5px 10px;
}

.work-title {
  font-size: 16px;
}

.work-liveLink {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid rgb(255, 253, 253);
  transition: 0.3s ease-in;
}

.work-liveLink:hover {
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.476);
  background-color: #21fde7;
  transform: scale(1.1);
}

.work-liveLink:hover a {
  color: #fd2155;
}

.work-liveLink a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}

/* Work Section Design For Mobile */

@media screen and (max-width: 768px) {

  #work-section {
    height: 100vh;
  }

  .work-heading {
    font-size: 30px;
  }

  .work-subheading {
    font-size: 16px;
    font-weight: bolder;
  }

  .workCard {
    width: 80vw;
    height: 30%;
  }
}

/* Skill Section Design */

#skills-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 0px 20px;
}

#skills-section .skill-heading {
  font-size: 42px;
  color: #fd2155;
  text-shadow: -5px 0px 0px #21fde7;
}

.skill-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skill-cards {
  width: 350px;
}

.skill-cards.html {
  background-color: #fff1e6;
  padding: 10px 5px;
  border: 5px solid orange;
  border-radius: 20px;
  transition: 0.3s ease;
}

.skill-cards-icon.html {
  color: orange;
  font-size: 60px;
}

.skill-cards.html h3 {
  color: #c24a1d;
  font-size: 24px;
}

.skill-cards.html p {
  color: #5a2d1a;
}

.skill-cards.html:hover {
  box-shadow: 5px 2px 5px orange;
  transform: scale(1.01);
}

.skill-cards.css {
  background-color: #eaf3ff;
  padding: 10px 5px;
  border: 5px solid blue;
  border-radius: 20px;
  transition: 0.3s ease;
}

.skill-cards-icon.css {
  color: blue;
  font-size: 60px;
}

.skill-cards.css h3 {
  color: #1f5fcc;
  font-size: 24px;
}

.skill-cards.css p {
  color: #1e3a5f;
}

.skill-cards.css:hover {
  box-shadow: 5px 2px 5px blue;
  transform: scale(1.01);
}

.skill-cards.js {
  background-color: #fff4cc;
  padding: 10px 5px;
  border: 5px solid yellow;
  border-radius: 20px;
  transition: 0.3s ease;
}

.skill-cards-icon.js {
  color: yellow;
  text-shadow: -2px 0px 0px black;
  font-size: 60px;
}

.skill-cards.js h3 {
  color: #b58b00;
  font-size: 24px;
}

.skill-cards.js p {
  color: #4a3f1a;
}

.skill-cards.js:hover {
  box-shadow: 5px 2px 5px yellow;
  transform: scale(1.01);
}

/* Skills Section Design For Mobile */

@media screen and (max-width: 768px) {
  #skills-section .skill-heading {
    font-size: 35px;
  }

  .skill-cards {
    max-width: 300px;
  }

  .skill-cards-icon.html,
  .skill-cards-icon.css,
  .skill-cards-icon.js {
    font-size: 20px;
  }

  .skill-cards.html h3,
  .skill-cards.css h3,
  .skill-cards.css h3 {
    font-size: 16px;
  }

  .skill-cards.html p,
  .skill-cards.css p, 
  .skill-cards.js p {
    font-size: 12px;
  }

}